@media (max-width: 1100px){
    .prev, .next {
        display: none;
    }
    .tns-outer {
        position: relative;
    }
    .tns-nav {
        position: absolute;
        top: 100%;
        right: 50%;
        button {
            border-radius: 100%;
            width: 20px;
            height: 20px;
            margin-right: 5px;
            background-color: $main-color;
            border: none;
        }
    }
    div.catalog__content {
        justify-content: space-evenly;
    }

}

@media (max-width: 720px) {
    header.header {
        a {
            img {
                width: 100%;
            }
        }
        .header__logo {
            width: 166px;
        }
        .header__official {
            font-size: 11px;
            span {
                font-size: 11px;
            }
        }
        .header__contacts {
            a {
                font-size: 16px;
                margin-bottom: 3px;
            }
        }
    }

    .benefits {
        &__blocks {
            flex-direction: column;
        }
        &__blocks>div {
        .benefits__subtext {
            margin-top: 10px;
            margin-bottom: 40px;
            }
        .benefits__text {
            margin-top: 20px;
        }
        }

    } 

    .catalog {
        li.catalog__tab {
            width: 150px;
            font-size: 14px;
        }
    }
    div.catalog__content {
        justify-content: space-evenly;
    }

    div.feedbacks {
        &__feedback {
            margin-top: 30px;
            div {
                margin-left: 20px;
            }
        }
        &__name {
            font-size: 13px;
        }
        &__achive {
            font-size: 12px;
        }
        &__text {
            font-size: 11px;
        }  
    }
    img.feedbacks {
        &__img {
            width: 100px;
            height: 100px;
        } 
    }

    div.footer {
        &__info {
            padding: 25px;
            width: 370px;
            height: 180px;
            a.footer__phone {
                margin-bottom: 20px;
            }
        }
        &__social {
            img {
                width: 40px;
                height: 40px;
            }
        }
    }
}

@media (max-width: 540px) {
    header.header {
        a {
            img {
                width: 100%;
            }
        }
        .header__logo {
            width: 166px;
        }
        .header__official {
            font-size: 11px;
            span {
                font-size: 11px;
            }
        }
        .header__contacts {
            a {
                font-size: 16px;
                margin-bottom: 3px;
            }
        }
    }

    div.promo {
        &__icons {
            justify-content: space-evenly;
            margin-top: 20px;
            width: 100%;
        }
    }
    .carousel {
        &__inner {
            img {
                width: 100%;
            }
        }
    }
    .tns-nav {
        transform: translateX(50%);
    }
    
    .catalog {
        li.catalog__tab {
            height: 40px;
            width: 110px;
            font-size: 10px;
            line-height: 40px;
        }
    }
    ul.catalog__tabs {
        margin-top: 30px;
        }
    }

    h2.title {
        font-size: 25px;
    }

@media (max-width: 400px) {
    h1.promo{
        &__header {
            font-size: 30px;
        }
    }
    h2.promo {
        &__subheader {
            font-size: 20px;
        }
    }
    div.promo {
        &__icons {
            justify-content: space-evenly;
            margin-top: 20px;
            width: 100%;
        }
        &__icon {
            margin-bottom: 20px;
            font-size: 14px;
            img {
                width: 32px;
                height: 36px;
            }
        }
    }
    button.button_main {
        margin-top: 35px;
    }
    section.benefits {
        padding: 40px 20px 83px 20px;
    }
    #consultation, #order, #thanks {
        width: 312px;
        min-height: 332px;
        input {
            width: 240px;
            height: 40px;
        }
        button.button_submit {
            width: 240px;
            font-size: 12px;
        }
    }
}